<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781379701999-5nbk6aeo0rr51qlijn96740jm8cmtd2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781379701999-5nbk6aeo0rr51qlijn96740jm8cmtd2k</string>
	<key>API_KEY</key>
	<string>AIzaSyCqw9veTzjaMjJIjYjqNPDeK9TK2NsSvBg</string>
	<key>GCM_SENDER_ID</key>
	<string>781379701999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.A2CMobile</string>
	<key>PROJECT_ID</key>
	<string>a2cmobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>a2cmobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781379701999:ios:9a8e26a3caf67d12ac9f1a</string>
</dict>
</plist>